<tbody>
{% for data in models %}
    <tr>
        {% for column in columns %}
            <td>
            {% set index = loop.parent.loop.index0 %}
                {% if column.twigFilter %}
                    {{ include(template_from_string('{{ column.render(data, index)|' ~ column.twigFilter ~ ' }}')) }}
                {% else %}
                    {{ column.render(data, index) }}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% else %}
    <tr>
        {# <td colspan="{{ columns.length }}">no records found</td> #}
        <td colspan="99">no records found</td>
    </tr>
{% endfor %}
</tbody>