<tbody>
{% for model in models %}
    <tr>
        {% for column in columns %}
            <td>
            {# {{ model[column.label] }} #}
            {# {{ column.content }} #}
            {% set index = loop.parent.loop.index0 %}
            {{ attribute(column, 'render', [index, model]) }}
            </td>
        {% endfor %}
    </tr>
{% else %}
    <tr>
        <td colspan="14">no records found</td>
    </tr>
{% endfor %}
</tbody>