<tbody>
{% for model in models %}
    <tr>
        {% for column in columns %}
            <td>
                {{ model.username }}
                {# {% if not column.content|default(false) %}
                    {{ attribute(model, column.content) }}
                {% else %}
                    {{ column.content|default(null) }}
                {% endif %} #}
            </td>
        {% endfor %}
    </tr>
{% else %}
    <tr>
        <td colspan="14">no records found</td>
    </tr>
{% endfor %}
</tbody>