<tbody>
{% for data in models %}
    <tr>
        {% for column in columns %}
            <td>
            {% set index = loop.parent.loop.index0 %}
            {{ column.render(data, index)|apply_filter('upper') }}
            {# {{ column.render(data, index) }} #}
            </td>
        {% endfor %}
    </tr>
{% else %}
    <tr>
        <td colspan="14">no records found</td>
    </tr>
{% endfor %}
</tbody>