<tbody>
{% for model in models %}
    <tr>
        {% for column in columns %}
            <td>
                 {% if not column.content|default(false) %}
                    {{ attribute(model, column.label) }}
                {% else %}
                    {{ column.label|default(null) }}
                {% endif %}
            </td>
        {% endfor %}
    </tr>
{% else %}
    <tr>
        <td colspan="14">no records found</td>
    </tr>
{% endfor %}
</tbody>