<thead id="" class="filter" data="">
    <tr class="">
        {% for column in columns %}
        <th class="">
            <form><input type="text" placeholder=""></form>
        </th>
        {% endfor %}
    </tr>
</thead>