@import "@tabler/core/dist/css/tabler.min.css";
/* @import '~tabler/dist/css/tabler-buttons'; 
@import '~tabler/dist/css/tabler-payments'; */
/* @import "~bootstrap/dist/css/bootstrap.css"; */

@import '~@fortawesome/fontawesome-free/css/all.css';

header.navbar .navbar-brand {
    font-size: 2em;
}

header.navbar .navbar-light {
    box-shadow: none;
}

#navbar-menu ul.menu > li > a {
    font-weight: bold;
    text-transform: uppercase;
}

#navbar-menu ul.menu > li.nav-item.active,
.navbar-expand-md .navbar-light .nav-item.active:after, 
.navbar-expand-md.navbar-light .nav-item.active:after
{
    border: none;
    background: var(--tblr-primary);
    border-radius: var(--tblr-border-radius);
}

#navbar-menu ul.menu > li.nav-item.active > a {
    color: var(--tblr-light);
    
}


/* ###### 6.6 Navbar  ###### */
@media (max-width: 768px) {
header.navbar.show {
    position: absolute; 
    width: 40%; 
    z-index:9999; 
    height: 100%;
}
}