.wrapper {
    grid-template-columns: 100% auto;
}

body:not(.ea-content-width-full) .content-wrapper {
    /* max-width: var(--body-max-width); */
    max-width: 100%;
}

.content-top {
    justify-content: normal;
}

@media (min-width: 992px) {
    .responsive-header {
        display: flex;
    }
    .wrapper {
        display: block;
    }
}

.user-menu-wrapper {
    display: flex;
}

header.navbar {
    min-height: 3rem;
}

header.navbar .navbar-brand {
    font-size: 2em;
}

header.navbar .navbar-light {
    box-shadow: none;
}

nav ul.menu li {
    padding: 0 .5em;
}

nav ul.menu > li > a {
    font-weight: bold;
    text-transform: uppercase;
}

nav ul.menu > li.nav-item.active,
.navbar-expand-md .navbar-light .nav-item.active:after, 
.navbar-expand-md.navbar-light .nav-item.active:after
{
    border: none;
    background: var(--button-primary-bg);
    color: var(--button-primary-color);
    border-radius: var(--border-radius);
}

#navbar-menu ul.menu > li.nav-item.active > a {
    color: var(--tblr-light);
    
}


/* ###### 6.6 Navbar  ###### */
@media (max-width: 768px) {
header.navbar.show {
    position: absolute; 
    width: 40%; 
    z-index:9999; 
    height: 100%;
}
}

