{% extends 'base.html.twig' %}

{% block title %}Entity index{% endblock %}

{% block sidebar %}
    {# Wrapper con data-gridview così la filterBar eredita le variabili --gv-* e le
       regole [data-gridview] anche fuori dal container griglia. I widget della
       filterBar si collegano alla form della griglia via form="gv-form-{key}",
       quindi funzionano pur stando qui nella sidebar.
       columnVisibility vive ora nell'header; la sidebar appare solo se la griglia
       ha colonne in filterBar, altrimenti base.html.twig non rende affatto la colonna. #}
    {% if gridview.hasFilterBar() %}
    <div data-gridview class="gv-sidebar-tools mb-3">
        {{ gridview_include(gridview, 'filterBar') }}
    </div>
    {% endif %}
{% endblock %}

{% block body %}
<h1>Entity index</h1>
{% include '@FedaleGridview/gridview/_grid.html.twig'
   with {'gridview': gridview, 'columns': columns, 'models': models,
         'pagination': pagination, 'form': form is defined ? form : null} %}
{% endblock %}
