<div 
    class="modal modal-blur fade" 
    id="modal-report" 
    tabindex="-1" 
    role="dialog" 
    aria-hidden="true"
    data-modal-form-target="modal"
>
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ modalTitle|trans(domain = 'EasyAdminBundle')}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" data-modal-form-target="modalBody">
            {{ modalContent|default('Loading...') }}
          </div>
          <div class="modal-footer">
            <a 
              href="#" 
              class="btn btn-link link-secondary" 
              data-bs-dismiss="modal"
              data-action="modal-form#clearForm"
            >
              {{ cancelButton|default('Clear') }}
            </a>
            <a 
              href="#" 
              class="btn btn-primary ms-auto" 
              data-bs-dismiss="modal" 
              data-action="modal-form#submitForm"
            >
              {{ submitButton|default('Submit') }}
            </a>
          </div>
        </div>
      </div>
    </div>