{% extends 'base.html.twig' %}

{% block stylesheets %}
<style type="text/css">
body {
    background: #212529!important;
    color: #d4d4d4!important;
}
</style>
{% endblock %}

{% block title %}Customer index{% endblock %}

{% block body %}
    <h1>Customer index</h1>
    {{ grid(grid) }}
    <a href="{{ path('app_customer_customer_new') }}">Create new</a>
{% endblock %}
