{% block footer %}
<div class="d-flex justify-content-between">
    <ul class="list-inline list-inline-dots mb-0">
        <li class="list-inline-item">
            Copyright &copy; {{ 'now' | date('Y') }} <a href=".">{{ 'Repara' }}</a>. All rights reserved.
        </li>
        <li class="list-inline-item">Generated 2022-08-31 11:00 UTC</li>
    </ul>
    <ul class="list-inline list-inline-dots mb-0">
        <li class="list-inline-item">Documentation</li>
        <li class="list-inline-item">License</li>
        <li class="list-inline-item">Source code</li>
    </ul>
</div>
{% endblock %}
