<thead id="" class="filter" data="">
    <tr class="">
        {{ form_start(form) }}
        {% for column in columns %}
        <th class="">
            {{ form_widget(form[column.attribute], {'attr': {'class': 'foo'}}) }}
        </th>
        {% endfor %}
        {{ form_widget(form.save) }}
        {{ form_end(form) }}
    </form>
    </tr>
</thead>