{% extends 'base.html.twig' %}

{% block title %}Entity index{% endblock %}

{% block body %}
<h1>Entity index</h1>
{% include '@FedaleGridview/gridview/_grid.html.twig'
   with {'gridview': gridview, 'columns': columns, 'models': models,
         'pagination': pagination, 'form': form is defined ? form : null} %}
{% endblock %}
