{#
  Modal shell included once per grid (inside the gridview-crud controller's DOM).
  GridCrudHandler::renderForm() output is fetched into [data-gridview-crud-target="modalBody"].
#}
<div class="modal fade" tabindex="-1" aria-hidden="true" data-gridview-crud-target="modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ gridview.options.crud.title|default('') }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
            </div>
            <div class="modal-body" data-gridview-crud-target="modalBody"></div>
        </div>
    </div>
</div>
